.form-control[readonly] {
    background-color: #fff9e1;
    opacity: 1;
}

.macro_obj
{
color: #0a66ec;
cursor: pointer;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.head_text{
    color: #4d759c;
    margin-bottom: 25px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.bg-dark {
    background-color: #6090bf!important;
}