.head_text{
    color: #4d759c;
}

.head_text_2{
    color: #4d759c;
    font-size: calc(1.0rem + 0.4vw);
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.bg-dark {
    background-color: #6090bf!important;
}