
<!doctype html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="/static/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="./static/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="docsearch:language" content="ru">
<meta name="docsearch:version" content="5.0">
<title>Научная библиотека Орловского ГАУ. Электронный каталог.</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<link rel="stylesheet" href="https://bootstrap5.ru/css/docs.css">
<link rel="stylesheet" href="{{ url_for( 'static', filename='css/infoBook.css')}}"/>

</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Научная библиотека Орловского ГАУ</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a href="/exit" class="nav-link">Выйти</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/f_find" class="nav-link active" aria-current="page">
              <span data-feather="home"></span>
              Простой поиск
            </a>
          </li>
          <li class="nav-item">
            <a href="/ext_find" class="nav-link">
              <span data-feather="file"></span>
              Расширенный поиск
            </a>
          </li>
        </ul>

    </div>
    </nav>

    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 head_text" >Электронный каталог</h1>
      </div>

      <h4 style="color: #4d759c; margin-bottom: 5px;">Поиск книги.</h4>

    <div class="container">
    <div class="bor-foms" style="border-width: 1px; margin-top: 10px;">
    <form action="/bt_ext_find" method="post">
        {{ form.hidden_tag() }}

    <div class="row">
        <div class="col-11 col-sm-5">
        <label class="form-label"></label>
            {{ form.select_1(class="form-select form-select-sm", style="background-color: #f2f8ff;") }}
        </div>
        <div class="col-11 col-sm-5">
            <label class="form-label"></label>
            {{ form.edit_1(class="form-control", style="background-color: #f2f8ff;", placeholder="Значение поля") }}
        </div>
    </div>

    <div class="row">
        <div class="col-2 col-sm-1">
        <label class="form-label"></label>
        <select name="select_2_0" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option value="ИЛИ" selected>или</option>
            <option value="И">и</option>
        </select>
        </div>
        <div class="col-9 col-sm-4">
        <label class="form-label"></label>
            {{ form.select_2(class="form-select form-select-sm", style="background-color: #f2f8ff;") }}
        </div>
        <div class="col-11 col-sm-5">
            <label class="form-label"></label>
            {{ form.edit_2(class="form-control", style="background-color: #f2f8ff;", placeholder="Значение поля") }}
        </div>
    </div>

    <div class="row">
        <div class="col-2 col-sm-1">
        <label class="form-label"></label>
        <select name="select_3_0" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option value="ИЛИ" selected>или</option>
            <option value="И">и</option>
        </select>
        </div>
        <div class="col-9 col-sm-4">
        <label class="form-label"></label>
            {{ form.select_3(class="form-select form-select-sm", style="background-color: #f2f8ff;") }}
        </div>
        <div class="col-11 col-sm-5">
            <label class="form-label"></label>
            {{ form.edit_3(class="form-control", style="background-color: #f2f8ff;", placeholder="Значение поля") }}
        </div>
    </div>

    <div class="row">
        <div class="col-2 col-sm-1">
        <label class="form-label"></label>
        <select name="select_4_0" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option value="ИЛИ" selected>или</option>
            <option value="И">и</option>
        </select>
        </div>
        <div class="col-9 col-sm-4">
        <label class="form-label"></label>
            {{ form.select_4(class="form-select form-select-sm", style="background-color: #f2f8ff;") }}
        </div>
        <div class="col-11 col-sm-5">
            <label class="form-label"></label>
            {{ form.edit_4(class="form-control", style="background-color: #f2f8ff;", placeholder="Значение поля") }}
        </div>
    </div>

    <!-- Фильтр по типу документа -->
    <div class="row">
        <div class="col-2 col-sm-1">
        <label class="form-label"></label>
        <select name="select_5_0" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option value="ИЛИ" selected>или</option>
            <option value="И">и</option>
        </select>
        </div>

        <div class="col-9 col-sm-4">
            <label class="form-label"></label>
            {{ form.edit_6(class="form-control", style="background-color: #f2f8ff;") }}
        </div>

        <div class="col-11 col-sm-5">
        <label class="form-label"></label>
            {{ form.select_5(class="form-select form-select-sm", style="background-color: #f2f8ff;") }}
        </div>


    </div>

    <div class="row">
        <div class="col-2 col-sm-1">
        <label class="form-label"></label>
        <select name="select_6_0" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option value="ИЛИ" selected>или</option>
            <option value="И">и</option>
        </select>
        </div>
        <div class="col-10 col-sm-9">
            <label class="form-label"></label>
            {{ form.edit_5(class="form-control", style="background-color: #f2f8ff;", placeholder="Ключевые слова") }}
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-auto">
<!--            <button type="submit" class="btn btn-primary">Поиск</button>-->
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>

    </form>
    </div>
    </div>

    </main>
  </div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>