
<!doctype html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="docsearch:language" content="ru">
<meta name="docsearch:version" content="5.0">
<title>Научная библиотека. Электронный каталог</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<link rel="stylesheet" href="https://bootstrap5.ru/css/docs.css">
<link rel="stylesheet" href="{{ url_for( 'static', filename='css/infoBook.css')}}"/>

</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Научная библиотека Орловского ГАУ</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a href="/exit" class="nav-link">Выйти</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/login" class="nav-link active" aria-current="page" href="#">
              <span data-feather="home"></span>
              Поиск
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Простой поиск
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{{ url_for('msg') }}>
              <span data-feather="file"></span>
              Расширенный поиск
            </a>
          </li>
        </ul>

    </div>
    </nav>

    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 head_text">Электронный каталог</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      <h4 class="head_text">Поиск книги.</h4>

    <div class="container">
    <div class="bor-foms" style="border-width: 1px; margin-top: 10px;">
    <form action="/find" method="post">

    <div class="row">
        <div class="col-11 col-sm-5">
        <label class="form-label"></label>
        <select name="select_1" class="form-select form-select-sm" style="background-color: #f2f8ff;" aria-label=".form-select-sm example">
            <option value="245a" selected>Заглавие</option>
            <option value="100a">Автор</option>
            <option value="260b">Издательство</option>
            <option value="SUJET">Рубрика</option>
            <option value="THESAURUS">Название тезауруса</option>
            <option value="010 a">ISBN</option>
        </select>
        </div>
        <div class="col-11 col-sm-5">
            <label class="form-label"></label>
            <input name="edit_1" type="text" class="form-control" style="background-color: #f2f8ff;" placeholder="Значение поля">
        </div>
    </div>

    <div class="row">
        <div class="col-2 col-sm-1">
        <label class="form-label"></label>
        <select name="select_2_0" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option value="ИЛИ" selected>ИЛИ</option>
            <option value="И">И</option>
        </select>
        </div>
        <div class="col-9 col-sm-4">
        <label class="form-label"></label>
        <select name="select_2" class="form-select form-select-sm" style="background-color: #f2f8ff;" aria-label=".form-select-sm example">
            <option value="245a" >Заглавие</option>
            <option value="100a" selected>Автор</option>
            <option value="260b">Издательство</option>
            <option value="SUJET">Рубрика</option>
            <option value="THESAURUS">Название тезауруса</option>
            <option value="010a">ISBN</option>
        </select>
        </div>
        <div class="col-11 col-sm-5">
            <label class="form-label"></label>
            <input name="edit_2" type="text" class="form-control" style="background-color: #f2f8ff;" placeholder="Значение поля">
        </div>
    </div>

    <div class="row">
        <div class="col-2 col-sm-1">
        <label class="form-label"></label>
        <select name="select_3_0" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option value="ИЛИ" selected>ИЛИ</option>
            <option value="И">И</option>
        </select>
        </div>
        <div class="col-9 col-sm-4">
        <label class="form-label"></label>
        <select name="select_3" class="form-select form-select-sm" style="background-color: #f2f8ff;" aria-label=".form-select-sm example">
            <option value="245a" >Заглавие</option>
            <option value="100a">Автор</option>
            <option value="260b" selected>Издательство</option>
            <option value="SUJET">Рубрика</option>
            <option value="THESAURUS">Название тезауруса</option>
            <option value="010a">ISBN</option>
        </select>
        </div>
        <div class="col-11 col-sm-5">
            <label class="form-label"></label>
            <input name="edit_3" type="text" class="form-control" style="background-color: #f2f8ff;" placeholder="Значение поля">
        </div>
    </div>

    <div class="row">
        <div class="col-2 col-sm-1">
        <label class="form-label"></label>
        <select name="select_4_0" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option value="ИЛИ" selected>ИЛИ</option>
            <option value="И">И</option>
        </select>
        </div>
        <div class="col-9 col-sm-4">
        <label class="form-label"></label>
        <select name="select_4" class="form-select form-select-sm" style="background-color: #f2f8ff;" aria-label=".form-select-sm example">
            <option value="245a" >Заглавие</option>
            <option value="100a">Автор</option>
            <option value="260b">Издательство</option>
            <option value="SUJET" selected>Рубрика</option>
            <option value="THESAURUS">Название тезауруса</option>
            <option value="010f">ISBN</option>
        </select>
        </div>
        <div class="col-11 col-sm-5">
            <label class="form-label"></label>
            <input name="edit_4" type="text" class="form-control" style="background-color: #f2f8ff;" placeholder="Значение поля">
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
    </div>

    </form>
    </div>
    </div>

    </main>
  </div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>