
<!doctype html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="/static/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="docsearch:language" content="ru">
<meta name="docsearch:version" content="5.0">
<title>Научная библиотека. Электронный каталог</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<link rel="stylesheet" href="https://bootstrap5.ru/css/docs.css">
<link rel="stylesheet" href="{{ url_for( 'static', filename='css/infoBook.css')}}"/>

</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Научная библиотека Орловского ГАУ</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a href="/exit" class="nav-link">Выйти</a>
    </li>
  </ul>
</nav>


<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/f_find" class="nav-link active" aria-current="page">
              <span data-feather="home"></span>
              Поиск
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Простой поиск
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Расширенный поиск
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Экспорт
            </a>
          </li>

        </ul>

    </div>
    </nav>

    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 head_text">Электронный каталог</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      <h4 class="head_text">Информация о книге.</h4>

      <div class="container">
        {% for tag in ls_tag %}
        <div class="row mb-3">
          <label  class="col-sm-2 col-form-label">{{ tag[0] }}</label>
          <div class="col-sm-9">
            {% if tag[0] == 'Макрообъект' %}
               <a href="/upload/{{ book_id }}"><input type="text" class="form-control macro_obj" value="{{ tag[1] }}" readonly></a>
            {% elif tag[1] |length < 100 %}
              <input type="text" class="form-control" value="{{ tag[1] }}" readonly>
            {% else %}
              <textarea class="form-control" rows="3" readonly>{{ tag[1] }}</textarea>
            {% endif %}
          </div>
        </div>
        {%endfor%}
      </div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>